<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>

<body class="grey lighten-2">

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">EpicTask</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="active"><a href="/task" th:text="#{task.pending}"></a></li>
                <li><a href="#" th:text="#{task.done}"></a></li>
                <li><a href="#" th:text="#{users}"></a></li>
                <li>
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger' href='#' data-target='dropdown1'>
                        <img class="avatar" th:src="${avatar_url}" alt="">
                    </a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><span th:text="${username}"></span></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="/logout"><i class="material-icons">logout</i>sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <main class="container">
        <span class="card-panel teal accent-3" th:if="${success}" th:text="${success}"></span>
        <span class="card-panel red accent-3 white-text" th:if="${error}" th:text="${error}"></span>

        <h2>Usuários</h2>

        <ul class="collection">
            <li th:each="user : ${users}" class="collection-item">
                <img th:src="${user.avatarUrl}" class="avatar" alt="">
                <span th:text="${user.name}"> </span>
                <span class="secondary-content" th:text="${user.score}"></span>
            </li>
        </ul>

    </main>

</body>

</html>